body {
    overflow-x: hidden;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    background-color: rgb(255, 255, 255);
    margin: 0;

}


div.navigator-bar {
    top: 0px;
    position: fixed !important;
    padding: 0;
    left: 0;
    opacity: 90%;


    border: 0px black solid;

    background-color: rgb(255, 255, 255);
    height: 50px;
    width: 100%;
    z-index: 10;
    user-Select: none;


    display: inline-grid;

    gap: 0px;
    align-items: center;


}

div.web-exit {
    position: relative;
    left: 0;
    height: 80%;
    width: 100px;
    border: 1px black solid;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column-start: 98;
    grid-column-end: 99;
}

div.web-exit:hover {
    box-shadow: inset .1em .1em .1em .1em rgb(65, 64, 60);
    cursor: pointer;

}

div.web-Icon {
    position: relative;

    height: 80%;
    width: 100px;
    border: 1px black solid;
    border-radius: 10px;

    margin-left: 10px;
    display: inline-grid;
    justify-content: center;
    align-items: center;
    grid-column-start: 1;
    grid-column-end: 2;

}

div.web-Icon:hover {
    box-shadow: inset .1em .1em .1em .1em rgb(65, 64, 60);
    cursor: pointer;

}

div.publish {
    position: relative;
    right: 0;
    height: 80%;
    width: 100px;
    border: 1px black solid;
    border-radius: 10px;
    margin-right: 5px;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column-start: 99;
    grid-column-end: 100;


}

div.publish:hover {
    box-shadow: inset .1em .1em .1em .1em rgb(65, 64, 60);
    cursor: pointer;

}

div#richText {
    position: relative;
    top: 0;
    z-index: 1;
    /*  min-height: 200px; */
}

custom-editor#mainEditor {
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
    /* height: 80vh;
    max-height: 80vh; */
    top: 0px;
    padding-top: 80px;
    padding-bottom: 50px;

    width: 100vw;
    background-color: white;
    border: 1px solid transparent;
    line-height: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    user-select: none;
}


.separator {
    position: relative;
    display: flex;

    justify-content: space-evenly;
}

.header {
    position: relative;
    width: 80vw;
    min-height: 50px;

    line-height: 1.1;
    margin: 0;
    font-weight: normal;

    font-size: 3rem;
    border: 1px solid black;
}

.articleHeader {
    position: relative;
    width: 60vw;

    line-height: 1.1;
    margin: 0;
    font-weight: normal;

    font-size: 2.4rem;
    border-left: 1px solid rgba(113, 102, 102, 0.503);

    padding-top: 15px;
    padding-left: 12px;
    margin-right: 10vw;
    font-family: medium-content-title-font, Georgia, Cambria, "Times New Roman", Times, serif;
}

@media screen and (max-width:600px) {
    custom-editor#mainEditor {
        padding-top: 160px;
    }

    .articleHeader {
        margin-right: 20px;

    }
}

@media screen and (max-width:420px) {
    custom-editor#mainEditor {
        padding-top: 180px;
    }

    .articleHeader {
        margin-right: 10px;
    }

}

/* .block {
    position: absolute;
    height: 800px;
    width: 100vw;
    top: -70vh;
    background-color: white;
    z-index: 100;
} */

p.articleParagraph {
    position: relative;
    width: 80vw;
    margin-bottom: 0;
    line-height: 1.1;
    border: 1px solid black;

}

span#initialTitle {
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
    user-select: none;
    opacity: 0.5;
    font-size: 1.5rem;
    -webkit-touch-callout: none;

    -webkit-user-select: none;

    -khtml-user-select: none;

    -moz-user-select: none;

    -ms-user-select: none;

    user-select: none;
}

input#postArticle {
    position: relative;
    width: 20vw;
    height: 10vh;
    background-color: white;

}

[contenteditable] {

    overflow: auto;
    outline: none;
    word-wrap: break-word;
}